body{
        
        font-family: 'Barlow', sans-serif;
        font-size: 16px;
}
h1 {
        font-family: 'Barlow', sans-serif;
        font-size: 50px;
}
h2 {
        font-family: 'Barlow', sans-serif;
        font-size: 45px;
}
h3 {
        font-family: 'Barlow', sans-serif;
        font-size: 40px;
}
h4 {
        font-family: 'Barlow', sans-serif;
        font-size: 35px;
}
h5 {
        font-family: 'Barlow', sans-serif;
        font-size: 30px;
}
h6 {
        font-family: 'Barlow', sans-serif;
        font-size: 25px;
}
label {
        font-family: 'Abel', sans-serif;
        font-size: 18px;
}
#btnLogo {
        font-weight: bold;
}