{{!-- About desde handlebars --}}

<div class="card p-3 rounded mt-5 bg-white shadow">
    <div class="card-content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quaerat nesciunt nulla asperiores animi iure pariatur fuga, eveniet, et nisi veritatis odio libero itaque cum perferendis nemo cumque eos eius.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos saepe at magnam labore deserunt quas molestias modi, atque necessitatibus. Dolorem natus pariatur repellat quisquam voluptatem tempora tenetur expedita consequatur aperiam?</p>
        <ul>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
        </ul>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quaerat nesciunt nulla asperiores animi iure pariatur fuga, eveniet, et nisi veritatis odio libero itaque cum perferendis nemo cumque eos eius.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos saepe at magnam labore deserunt quas molestias modi, atque necessitatibus. Dolorem natus pariatur repellat quisquam voluptatem tempora tenetur expedita consequatur aperiam?</p>
        <ul>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
        </ul>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quaerat nesciunt nulla asperiores animi iure pariatur fuga, eveniet, et nisi veritatis odio libero itaque cum perferendis nemo cumque eos eius.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos saepe at magnam labore deserunt quas molestias modi, atque necessitatibus. Dolorem natus pariatur repellat quisquam voluptatem tempora tenetur expedita consequatur aperiam?</p>
        <ul>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
        </ul>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quaerat nesciunt nulla asperiores animi iure pariatur fuga, eveniet, et nisi veritatis odio libero itaque cum perferendis nemo cumque eos eius.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos saepe at magnam labore deserunt quas molestias modi, atque necessitatibus. Dolorem natus pariatur repellat quisquam voluptatem tempora tenetur expedita consequatur aperiam?</p>
        <ul>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
        </ul>
    </div>
</div>