<section class="card">
    <div class="card-body">
        <h1>Sobre la app</h1>
        <p>
            Esta es una app de encuestas elaborada por estudiantes de la universidad de el salvador. Esta app sera una
            aplicacion de encuestas dinamicas.
        </p>
    </div>
</section>