<section class="card">
    <div class="card-body">
        <h1>Sobre la app</h1>
        <p>
            Sistema de Diseño y Ejecución de Encuestas, basado en el sistema de encuestas de la DIYESTIC.
        </p>
    </div>
</section>