<div class="card">
    <div class="card-body">
        {{> buttons
            message="Lista de preguntas"
                type="success"
                    tag="a"
                        href="listaspreguntas"}}

    </div>
</div>