<div class="row">
    <div class="col-12">
        <h1 class="text-center">Nueva Encuesta</h1>
    </div>
</div>
<!--Form-->
<form action="" method="POST">
        <div class="row me-1">
    <div class="col-12 text-end ">
         <button  type="submit" class="btn btn-success mt-2" >Generar Encuesta</button>
   </div>
</div>
<div class="container bg-bg-light">
     <!--Nombre encuesta-->
    <div class="row mt-3">
    <div class="col-4 text-end">
        <p>Ingresa el nombre de la encuesta:</p>
    </div>
    <div class="col-6">
        <input class="form-control" type="text" name="nomEncuesta" required >
    </div>
    </div>
    <!--Descripcion-->
    <div class="row">
        <div class="col-4 text-end">
            Descripci贸n:
        </div>
        <div class="col-6">
            <textarea name="descripcion" cols="30" rows="10" class="form-control" placeholder="(Opcional)"></textarea>
        </div>
    </div>
     <!--Secciones-->
     <div class="row mt-5 d-flex justify-content-end">
        <div class="col-12 col-md-3">
            <select class="form-select" aria-label="Default select example" name="secciones">
                <option selected value="N/A">Selecciona una secci贸n...</option>
                {{#each secciones}}
                <option value="{{nombre}}">{{nombre}}</option>
                {{/each}}
            </select>
        </div>
</form>

        <div class="col-12 col-md-8 d-flex justify-content-center mt-2">
             <!--Tabla-->
        <table class="table table-hover table-bordered border-success w-75 text-center">
         <thead>
                 <tr>
                    <th scope="col">Secci贸n</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Acci贸n</th>
                </tr>
         </thead>
         <tbody>
             {{#each registros}}
               {{#if this.activa}}
           
                 <tr>
                     <td>{{secciones}}</td>
                     <td>{{nomEncuesta}}</td>
                     <td><button type="button" class="btn btn-success">Ver Preguntas</button></td>
                </tr>
                {{/if}}
            {{/each}}
          </tbody>
       </table>
        </div>
     </div>
</div>

