<div class="card">
    <div class="card-header">
        Eliminación de usuario
    </div>
    <div class="car-body">
        <h5 class="card-title">Eliminación Exitosa</h5>
        <p class="card-text">La eliminación del Usuario se ha efectuado de forma correcta, precione en continuar</p>
        <a href="/usuarios" class="btn btn-primary">Continuar</a>
    </div>
</div>