<center>
    <br></br>
    <div class="text-center">
        <h1>Problemas con el Password</h1>
    </div>
    <br></br>
    <div class="card">
        <div class="car-body">
            <h5 class="card-title">La Contrasña no concuerda</h5>
            <p class="card-text">La credencial de contreseña es incorrecta, ponga en contacto con el administrador</p>
            <a href="/signin" class="btn btn-primary">Continuar</a>
        </div>
    </div>