<center>
    <br></br>
    <div class="text-center">
        <h1>Problemas con el usuario</h1>
    </div>
    <br></br>
<div class="card">
    <div class="car-body">
        <h5 class="card-title">El usuario no Existe</h5>
        <p class="card-text">El usuario no fue encontrado en la Base de datos, ponga en contacto con el administrador</p>
        <a href="/usuarios/signin" class="btn btn-primary">Continuar</a>
    </div>
</div>