<center>
  <div class="card card-body p-5 mt-4">
    <h1>Sistema de Encuestas</h1>
    <h2>Universidad de El Salvador</h2>
    <h3>Grupo 2 - IGF & PRN</h3>
    <div>
      <img src="/static/img/UESIcon.png" alt="UESIcon" width="20%">

      <div>
        <a class="btn btn-primary btn-lg" href="/usuarios/signin" role="button">Ingresar</a>
      </div>
    </div>