<br></br>
<div class="text-center">
    <h1>Listado de secciones</h1>
</div>
<br></br>
<div >
    {{> buttons
    message="Crear seccion"
    type = "success"
    tag = "a"
    href = "#b"
    }}
</div>
<div class="card mt-5">
    <div class="card-body">

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Nombre de la seccion" aria-label="Nombre de la seccion"
                aria-describedby="button-addon2" />
            {{> buttons
            type="success"
            message="Buscar"
            nativeType="submit"
            }}
        </div>

        {{!-- Tabla de contenidos --}}

        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">
                        <p class="text-center">Secciones</p>
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="col-7">
                        <p class="text-right"> Datos Personales </p>
                    </th>
                    <th>
                        {{> buttons
                        message="Ver Seccion"
                        type = "success"
                        tag = "a"
                        href = "#b"
                        }}

                        {{> buttons
                        message="Editar"
                        type = "primary"
                        tag = "b"
                        href = "#b"
                        }}

                        {{> buttons
                        message="Eliminar"
                        type = "danger"
                        tag = "c"
                        href = "#b"
                        }} </th>
                </tr>
                <tr>
                    <th class="col-7">
                        <p class="text-right">Educacion</p>
                    </th>
                    <th>
                        {{> buttons
                        message="Ver Seccion"
                        type = "success"
                        tag = "a"
                        href = "#b"
                        }}

                        {{> buttons
                        message="Editar"
                        type = "primary"
                        tag = "b"
                        href = "#b"
                        }}

                        {{> buttons
                        message="Eliminar"
                        type = "danger"
                        tag = "c"
                        href = "#b"
                        }} </th>
                </tr>
                <tr>
                    <th class="col-7">
                        <p class="text-right">Datos Familiares</p>
                    </th>
                    <th>
                        {{> buttons
                        message="Ver Seccion"
                        type = "success"
                        tag = "a"
                        href = "#b"
                        }}

                        {{> buttons
                        message="Editar"
                        type = "primary"
                        tag = "b"
                        href = "#b"
                        }}

                        {{> buttons
                        message="Eliminar"
                        type = "danger"
                        tag = "c"
                        href = "#b"
                        }} </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>