<div class="card card-body p-5 mt-4">
    <h1 class="display-4">Encuestas app!</h1>
    <p class="lead">APP dinamica sobre encuestas elaborada por estudiantes de la UES.</p>
    <hr class="my-4" />
    <p>APP de encuestas.
    </p>
    <div>
        <a class="btn btn-primary btn-lg" href="/signup" role="button">Registrarse</a>
    </div>
</div>