<center>
    <br></br>
    <div class="text-center">
        <h1>Registro de nuevo usuario</h1>
    </div>
    <br></br>
<div class="card">
    <div class="car-body">
        <h5 class="card-title">Registro exitoso</h5>
        <p class="card-text">El registro del nuevo Usuario se ha efectuado de forma correcta, precione en continuar</p>
        <a href="/usuarios" class="btn btn-primary">Continuar</a>
    </div>
</div>