<div class="card">
    <div class="card-header">
        Registro Nuevo Usuario
    </div>
    <div class="car-body">
        <h5 class="card-title">Registro exitoso</h5>
        <p class="card-text">El registro del nuevo Usuario se ha efectuado de forma correcta, precione en continuar</p>
        <a href="/usuarios" class="btn btn-primary">Continuar</a>
    </div>
</div>