<div class="text-center">
    <h1>Preguntas</h1>
</div>
<div class="card mt-5">
  <div class="card-body">

    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Recipient's username"
        aria-label="Recipient's username"
        aria-describedby="button-addon2"
      />
      {{> buttons
        type="success"
        message="Buscar"
        nativeType="subtmi"}}
    </div>

    {{!-- Tabla de contenidos   --}}

<h5>Gestión de preguntas</h5>
<table class="table">
  <thead>
    <tr>
      <th scope="col"><p class="text-center">Crear preguntas</p></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><p class="text-center"> Ver preguntas </p></th>
      <th> {{> buttons
              message="Ver Respuesta"
              type = "success"
              tag = "a"
              href = "#b"
              
        }} 
      </th>
    </tr>
    <tr>
      <th><p class="text-center"> Modificar preguntas</p> </th>
      <th> {{> buttons
              message="Ver Respuesta"
              type = "success"
              tag = "a"
              href = "#b"
        }}
        </th>
    </tr>
    <tr>
      <th> <p class="text-center">Eliminar preguntas</p> </th>
      <th>
        {{> buttons
              message="Ver Respuesta"
              type = "success"
              tag = "a"
              href = "#b"
        }} </th>
    </tr>
  </tbody>
</table>
  </div>
</div>

