<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Registrar Nuevo Usuario
            </div>
            <div class="card-body">
                <form  class="row g-3" action="/usuarios/signup" method="POST">
                    <div class="col-12">
                        <label for="name" class="form-label">Nombre Usuario</label>
                        <input type="text" class="form-control" name="name" value="{{name}}">
                    </div>
                    <div class="col-md-6">
                        <label for="fechaNac" class="form-label">Fecha Nacimiento</label>
                        <input type="date" class="form-control" name="fechaNac">
                    </div>
                    <div class="col-md-6">
                        <label for="nacionalidad" class="form-label">Nacionalidad</label>
                        <select class="form-select" name="nacionalidad" aria-label="Default select example" class="form-control">
                            <option value="Costaricense">Costaricense</option>
                            <option value="Guatemalteco">Guatemalteco</option>
                            <option value="Hondureño">Hondureño</option>
                            <option value="Nicaraguense">Nicaraguense</option>
                            <option value="Panameño">Panameño</option>
                            <option value="Salvadoreño" selected>Salvadoreño</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="email" class="form-label">Correo Electronico</label>
                        <input type="email" class="form-control" name="email" value="{{email}}">
                    </div>
                    <div class="col-md-6">
                        <label for="userName" class="form-label">ID Usuario</label>
                        <input type="text" class="form-control" name="userName" value="{{userName}}">
                    </div>
                    <div class="col-md-6">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" name="password" placeholder="Digita Tú Contraseña">
                    </div>
                    <div class="col-md-6">
                        <label for="confirmPassword" class="form-label">Confirmación Contraseña</label>
                        <input type="password" class="form-control" name="confirmPassword">
                    </div>
                    <div class="col-md-6">
                        <label for="tipoUsuario" class="form-label">Rol de Usuario</label>
                        <select class="form-select" name="tipoUsuario" aria-label="Default select example" class="form-control">
                            <option value="Administrador">Administrador</option>
                            <option value="Diseñador">Diseñador</option>
                            <option value="Encuetador" selected>Encuetador</option>
                        </select>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary btn-block"> Agregar Usuario </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>