<h1>Formulario de Inicio de sesion</h1>
<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Inicio de Sesion
            </div>
            <img src="public/img/Logo.png" class="rounded-circle mx-auto d-block m-a logo">
            <div class="card-body">
                <form action="signin" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="userName" placeholder="Digita Tú Usuario">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Digita Tú Contraseña">
                    </div>
                    <div>
                        <button class="btn btn-primary btn-block"> Ingresar </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>