<br></br>
<div class="text-center">
    <h1>Nombre de la encuesta</h1>
</div>
<form action="" method="POST">
    <button class="btn btn-primary" type="submnit" name="portapapeles" value="movie"> Compartir </button>
</form>