
<div class="container">
        
        <div class="row mt-3">
                <div class="col ">
                        {{> buttons
                        message="Atrás"
                        type = "danger"
                        tag = "a"
                        href = "/secciones"
                        }}
                </div>
                <div class="col-6 text-center">
                        <h1>Crear Nueva Seccion</h1>
                </div>
                
                <div class="col text-end">
                        <form action="/secciones/add" method="post">
                        <button type="submit" class="btn btn-primary" >Registrar</button>
                </div>
        </div>
        <div class="row mt-3">
                
                        <div class="form-group row">
                                <label for="inputNombreSeccion" class="col-sm-2 col-form-label">Nombre de la sección</label>
                                <div class="col-10">
                                        <input name="nombre" type="text" class="form-control" id="inputNombreSeccion" placeholder="Escriba un nombre">
                                </div>
                        </div>
                        <div class="form-group row mt-3">
                                <label for="inputDescripcion" class="col-sm-2 col-form-label">Descripción</label>
                                <div class="col-10">
                                            <textarea name="descripcion" class="form-control" id="inputDescripcion" placeholder="Escriba una descripción"></textarea>
                                </div>
                        </div>
                 
                        <div>
                                {{#each preguntas}}
                                        <input name="preguntas" class="form-check-input" type="checkbox" value="{{_id}}" id="flexCheckDefault">
                                {{/each}}
                        </div>

                </form>

                        <div class="form-group row mt-4">
                                <div class="col-5 mb-3">
                                        <label for="addPreguntas">Agregar preguntas</label>
                                        <select class="form-control mt-3" id="addPreguntas">
                                                <option value=""></option>
                                                {{#each preguntas}}
                                                <option value="{{_id}}">{{pregunta}}</option>
                                                {{/each}}
                                                
                                        </select>
                                        
                                        {{secciones}}
                                        
                                </div>

                                <div class="col-7 mb-3">
                                        <label for="addPreguntas">Preguntas de la Sección</label>
                                        <table class="table table-bordered table-sm mt-3">
                                                <thead class="table-dark">
                                                        <tr class="text-center">
                                                                <th scope="col">N°</th>
                                                                <th scope="col">Preguntas</th>
                                                                <th scope="col">Opciones</th>
                                                        </tr>
                                                </thead>
                                                <tbody class="table-group-divider">
                                                        <tr>
                                                                <th id="idPrn" class="text-center" scope="row">1</th>
                                                                <td>Pregunta #1</td>
                                                                <td class="text-center">
                                                                        <button class="btn btn-primary">Ver tipo de respuesta</button>
                                                                </td>
                                                        </tr>
                                                        <tr>
                                                                <th class="text-center" scope="row">2</th>
                                                                <td>Pregunta #2</td>
                                                                <td class="text-center">
                                                                        <button class="btn btn-primary">Ver tipo de respuesta</button>
                                                                </td>
                                                        </tr>
                                                        
                                                </tbody>
                                        </table>
                                        
                                </div>

                        </div>
                          
                       
        </div>

</div>
<script>
        alert("Texto a mostrar");
</script>
