<br></br>
<div class="text-center">
    <h1>Listado de Secciones</h1>
</div>
<br></br>
<div>
    {{> buttons
    message="Crear seccion"
    type = "primary"
    tag = "a"
    href = "secciones/addSeccion"
    }}
</div>
<div class="card mt-5">
    <div class="card-body">

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Nombre de la seccion" aria-label="Nombre de la seccion"
                aria-describedby="button-addon2" />
            {{> buttons
            type="success"
            message="Buscar"
            nativeType="submit"
            }}
        </div>

        {{!-- Tabla de contenidos --}}

        <table id="grid" class="table table-striped table-bordered dt-responsive nowrap">

            <div>
                <thead>
                    <tr>
                        <th width="75%">Secciones</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
            </div>

            {{#each seccion}}
            <tr>
                <td>{{nombre}}</td>
                <td>
                    <div class="d-flex justify-content-around">
                        <a class="btn btn-success" href="">Ver</a>

                        <a class="btn btn-warning" href="">Editar</a>

                        <form action="" method="POST">
                            <div class="form-group">
                                <button class="btn btn-danger" type="submit">Eliminar</button>
                            </div>
                        </form>
                    </div>
                    </th>
                </td>
            </tr>
            {{else}}
            <div class="card mx-auto">
                <div class="lead  d-flex flex-column align-items-center">
                    <p>No hay secciones ingresadas aún</p>
                    <a href="secciones/addSeccion" class="btn btn-success btn-block">Crear una</a>
                </div>
            </div>

            {{/each}}
        </table>
    </div>

</div>