<div class="container">
        
        <div class="row mt-3">
                <div class="col ">
                        {{> buttons
                        message="Atrás"
                        type = "danger"
                        tag = "a"
                        href = "/secciones"
                        }}
                </div>
                <div class="col-6 text-center">
                        <h1>Ver Seccion</h1>
                </div>
                
                <div class="col text-end">
                        
                </div>
        </div>
        <div class="card row mt-3">
                {{seccion}}
        </div>

</div>