<!DOCTYPE html>
<html>
<head>

 
    <meta charset="uft-8">
    <meta name="viewport" content="width-device-width, initial-scale-1">
    

    <!-- Bootstrap -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

</head>


        <nav class="navbar navbar-light bg-light">


            <div class="container"> 
              <button type="button" class="btn btn-primary" onclick="window.location.href='/preguntas';">Atras</button>
            </div >
            <br><br>
               <div class="d-flex align-items-center justify-content-center ">
                <h3>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp
                    EDITAR PREGUNTA
                </h3>
                </div>
            <br><br><br>
        </nav>

    <!-- Cambio hecho por: Rebeca Barrientos -->
{{!--#each erorrs}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{text}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </span>  
    </button>
</div>
{{/each--}}


<div class="col-md-10 mx-auto">
    <div class = "card">
        <div class = "card-body">
       

        <form action="/preguntas/editarPreguntas/{{pregunta._id}}?_method=put" method="POST">
        <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend"> 
                    <span class="input-group-text" id="inputGroup-sizing-sm">Pregunta: </span>
                </div>
             <input type="text" class="form-control" name="title" aria-label="Small" 
             aria-describedby="inputGroup-sizing-sm" autofocus value="{{pregunta.title}}">
         </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Tipo respuesta: </label>
                </div>
                    <select class="custom-select" id="inputGroupSelect01" name="tipoR">
                        <option selected>{{pregunta.tipoR}}</option>
                        <option value="Respuesta corta">Respuesta corta</option>
                        <option value="Respuesta larga">Respuesta larga</option>
                        <option value="Opcion">Opcion</option>
                        <option value="Opción varias respuestas">Opción varias respuestas</option>
                        <option value="Fecha">Fecha</option>
                        <option value="Hora">Hora</option>
                    </select>
       
            </div>


            <div class="form-group">
                <button class="btn btn-success btn-block" type="submit">
                    Guardar cambios
                </button>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- Fin de cambio hecho por: Rebeca Barrientos -->




</html>