<!DOCTYPE html>
<html>
<head>

 
    <meta charset="uft-8">
    <meta name="viewport" content="width-device-width, initial-scale-1">
    

    <!-- Bootstrap -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

</head>

    <nav class="navbar navbar-light bg-light">


            <div class="container"> 
              <button type="button" class="btn btn-primary" onclick="window.location.href='/preguntas';">Atras</button>
            </div >
            <br><br>
               <div class="col-12">
                    <h1 class="text-center">Crear Pregunta</h1>
                </div>
            <br><br><br>
        </nav>

    <!-- Cambio hecho por: Rebeca Barrientos -->
{{#each erorrs}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{text}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </span>  
    </button>
</div>
{{/each}}


<div class="col-md-10 mx-auto">
    <div class = "card">

    <div class = "card-body">
        <form action="/preguntas" method="POST">
        <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Pregunta: </span>
                </div>
             <input type="text" class="form-control" name="title" aria-label="Small" 
             aria-describedby="inputGroup-sizing-sm" required  placeholder="Title" autofocus >
         </div>
    <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Tipo respuesta: </label>
            </div>
            <select 
                class="p-2 border relative block w-full rounded border-gray-300 bg-transparent focus:z-10 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                name="tipoR" id="tipo"
                onchange="cambiarPregunta(this)">
                <!--option value="*">Seleccionar opcion</option-->
                <option value="fecha">Fecha</option>
                <option value="hora">Hora</option>
                <option value="respuesta-corta" selected>Respuesta corta</option>
                <option value="respuesta-larga">Respuesta larga</option>
                <option value="opcion-unica">Opcion unica</option>
                <option value="opcion-multiple">Opcion multiple</option>
            </select>
    </div>

            <div class="form-group">
                <button class="btn btn-success btn-block" type="submit">
                    Guardar pregunta
                </button>
            </div>
            <br>
            <div id="RDOM" class="px-6 py-12">

        </div>
        </form>
    </div>
</div>
</div>
<!-- Fin de cambio hecho por: Rebeca Barrientos -->
</html>
<script src="/static/preguntas.js"></script>


