<!-- Cambio hecho por: Rebeca Barrientos -->
<div class="col-md-4 mx-auto">
    <div class = "card">
    <div class = "card-header">
        <h3>Nueva pregunta</h3>
    </div>
    <div class = "card-body">
        <form action="/preguntas/nuevaPregunta" method="POST">
        <div class="form-group">
            <input type="text" name="title" class="form-control" 
            placeholder="Title" autofocus>
        </div>
        <div class = "form-group">
            <textarea name="descripcion" class ="form-control"
            placeholder="Description"></textarea>
        </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>
</div>
<!-- Fin de cambio hecho por: Rebeca Barrientos -->